<%=  simple_form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= label_tag(:movie_image, "Poster") %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
   <%= f.label 'Kategori Seçin' %><br />
   <%= f.collection_select :category_ids, @categories, :id, :title, {}, {:multiple => true, class: 'form-control '} %>
 </div>

  <div class="field">
    <%= f.label :director %><br>
    <%= f.text_field :director, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.number_field :date, class: "form-control" %>
  </div>

  <div class="field">
   <%= f.input :youtube, label: "Youtube ID", input_html: { class: 'form-control' } %>
  </div>
  <div class="actions">
    <%= f.submit 'Gönder',class: "btn btn-primary" %>
  </div>
<% end %>
